
body
  background #008081
  height 100%
  margin 0


#ui
  position relative

#desktop
  height 500px
  position relative

#taskbar
  background #C0C0C0
  height 25px
  position fixed
  bottom 0
  padding 7px 0
  width 100%
  #start
    border-top 1px solid #E6E6E6
    border-left 1px solid #E6E6E6
    border-bottom 1px solid #7E7E7E
    border-right 1px solid #7E7E7E
    box-shadow 1px 1px 0 0 #000000, -1px -1px 0 0 #FFFFFF
    display inline-block
    height 25px
    margin-left 5px
    padding 0 5px
    label
      vertical-align middle
